hmtl{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif; 
    font-size: 22px; 
    line-height: 1.8;
    color: rgb(40, 40, 40);
    background-color: white;
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

p{
    font-family: 'Varella Round', sans-serif;
}

h1 {
    font-size: 4rem; 
    font-weight: 900;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    margin-top: 2em;
    border-top: 5px solid rgb(40, 40, 40);
    padding-top: 20px;
}

h3 {
    font-size: 1.3rem;
    color: rgb(81, 98, 115);
    text-transform: uppercase;
    margin: 5px 0;
}

header, section {
    max-width: 900px;
    margin: 0 auto;
    padding: 10px 30px;
}

header p {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(106, 107, 119);
    background: white;
    padding: 40px;
    border-left: 10px solid rgb(154, 164, 255);
    margin-top: 40px;
}



#tooltip1,
#tooltip2, #tooltip3{
    position: absolute;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    background: white;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 3px 3px 0px rgba(170, 139, 255, 0.67);
    min-width: 140px;
    opacity: 0;
    transition: opacity 0.2s;
}

#map{
     margin: 0 auto;
     display: block;
}